:root {
  --background-color-primary: rgba(51, 51, 51, 1);
  --background-color-primary-dark: rgb(37, 37, 37);
  --background-color-secondary: rgb(51, 51, 51);
  --font-color-primary: #fff;
  --color-primary: #fff;
  --color-secondary: #34c83c;
  --color-secondary-dark: #2ead34;
  --font-family-primary: verdana, geneva, sans-serif;
  --meter-fill-color: #8f60aa;
  --meter-fill-color-secondary: #f77230;
  --meter-fill-color-secondary-dark: #d1622b;
  --gauge-width: 30em;
  --gauge-height: 25em;
  --ncsu-font: UniversCondensed;
  --ncsu-red: #c00;
  --ncsu-red-dark: rgb(173, 0, 0);
  --border-radius-primary: 0.5em;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.outer-content {
  background: var(--background-color-primary);
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--background-color-primary);
  color: var(--font-color-primary);
  display: -ms-grid;
  display: grid;
  font-family: var(--font-family-primary);
  font-weight: 300;
      grid-template-areas: "ping ping" "download download" "button button";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  height: 100%;
  padding: 0;
  position: relative;
  text-align: center;
}

.header {
  background-color: var(--background-color-secondary);
  -webkit-column-gap: 1em;
          column-gap: 1em;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "l h h .";
  -ms-grid-columns: 1fr 2fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-bottom: 5em;
  padding: 1em;
  position: relative;
}

.header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 8em;
  font-weight: bold;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: h;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header img.ncsu-logo {
  width: 100%;
}

.header .brick {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: l;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10em;
}

.info-container {
  border-radius: var(--border-radius-primary);
  height: 100%;
  width: calc(var(--gauge-width) * 2 + 2em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  font-weight: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

#startStopBtn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2ece2e;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  font-weight: normal;
  height: 2.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 10em;
}

#startStopBtn.running {
  background-color: var(--ncsu-red);
}

.testArea {
  border: var(--background-color-primary-dark);
  border-radius: var(--border-radius-primary);
  -webkit-box-shadow: -10px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 20px 50px rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  font-weight: normal;
      grid-template-areas: "kind" "amount" "unit";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 0.5fr 0.5fr;
      grid-template-rows: 1fr 0.5fr 0.5fr;
  height: var(--gauge-height);
  position: relative;
  row-gap: 1em;
  text-transform: uppercase;
  width: var(--gauge-width);
}

.testArea .testName {
  font-size: 4em;
  grid-area: "kind";
  z-index: 9;
}

.testArea .meterText {
  font-size: 3em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: amount;
  margin: auto;
  z-index: 9;
}

.testArea .unit {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: unit;
  text-transform: capitalize;
  z-index: 9;
}

.testArea canvas {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.testArea2 {
  height: 7em;
  position: relative;
  text-transform: uppercase;
  width: 14em;
}

.testArea2 .testName {
  font-size: 1.4em;
  text-align: center;
}

.testArea2 .meterText {
  display: inline-block;
  font-size: 2.5em;
}

.testArea2 .meterText #ip {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.testArea2 .unit {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

.meterText:empty:before {
  content: "0";
}

.testGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gauge-numbers {
  font-family: var(--font-family-primary);
  font-size: 1.5em;
  font-weight: 100;
  position: absolute;
  -webkit-transition: all cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
  transition: all cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
}

@media all and (max-width: 768px) and (orientation: portrait) {
  html,
  body {
    font-size: 0.9em;
  }
  .main-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "button" "download" "upload" "ping";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr;
    margin: 0;
    padding: 0;
  }
  .testArea {
    height: calc(var(--gauge-height) / 1.4);
    width: calc(var(--gauge-width) / 1.4);
  }
}

@media all and (max-width: 768px) and (orientation: landscape) {
  html,
  body {
    font-size: 0.9em;
    height: 100%;
  }
  .testArea {
    height: calc(var(--gauge-height) / 1.4);
    width: calc(var(--gauge-width) / 1.4);
  }
}
/*# sourceMappingURL=style.css.map */