:root {
  --background-color-primary: rgba(51, 51, 51, 1);
  --background-color-primary-dark: rgb(37, 37, 37);
  --background-color-secondary: rgb(51, 51, 51);
  --font-color-primary: #fff;
  --color-primary: #fff;
  --color-secondary: #34c83c;
  --color-secondary-dark: #2ead34;
  --font-family-primary: verdana, geneva, sans-serif;
  --dl-color-1: #8343ab;
  --dl-color-2: #f71e6a;
  --ul-color-1: #ff8000;
  --ul-color-2: #ff0000;
  --gauge-width: 40em;
  --gauge-height: 30em;
  --ncsu-font: UniversCondensed;
  --ncsu-red: #c00;
  --ncsu-red-dark: rgb(173, 0, 0);
  --border-radius-primary: 0.5em;
  --mobile-scale: 1.7;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: var(--background-color-primary);
}

.ul-icon i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ul-icon .amount,
.ul-icon .unit {
  color: white;
}

.dl-icon .amount,
.dl-icon .unit {
  color: white;
}

.tmp {
  display: none;
  position: absolute;
}

.tmp .text {
  font-size: 1.2em;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tmp i {
  font-size: 10em;
  color: var(--color-secondary);
}

.outer-content {
  background: var(--background-color-primary);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--background-color-primary);
  color: var(--font-color-primary);
  display: -ms-grid;
  display: grid;
  font-family: var(--font-family-primary);
  font-weight: 300;
      grid-template-areas: "ping ping" "download download" "button button";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;
  text-align: center;
  row-gap: 1em;
}

.footer {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  font-weight: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.start-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2ece2e;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  font-weight: normal;
  height: 2.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 10em;
}

.start-btn.running {
  background-color: var(--dl-color-2);
}

.test-info-container {
  border-radius: var(--border-radius-primary);
  -webkit-box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.5);
  width: var(--gauge-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-info-container .info {
  margin: 2em;
}

.test-info-container .info .test-kind {
  font-size: 1.4em;
  text-align: center;
}

.test-info-container .info .amount {
  display: inline-block;
  font-size: 2.5em;
}

.test-info-container .info .amount #ip {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.test-info-container .info .unit {
  margin: 0;
  padding: 0;
}

.test-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: download;
  border: var(--background-color-primary-dark);
  border-radius: var(--border-radius-primary);
  -webkit-box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  font-weight: normal;
      grid-template-areas: "kind" "amount" "unit";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5fr 0.5fr 0.5fr;
      grid-template-rows: 5fr 0.5fr 0.5fr;
  position: relative;
  row-gap: 1em;
  text-transform: uppercase;
  width: var(--gauge-width);
  height: var(--gauge-height);
}

.test-container .test-kind {
  font-size: 3em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: kind;
  z-index: 9;
}

.test-container .info .amount {
  font-size: 5em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: amount;
  z-index: 9;
}

.test-container .info .unit {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: unit;
  text-transform: capitalize;
  z-index: 9;
}

.test-container canvas {
  height: 100%;
  margin: auto;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.amount:empty:before {
  content: "0";
}

.gauge-numbers {
  font-family: var(--font-family-primary);
  font-size: 1em;
  font-weight: 100;
  position: absolute;
  -webkit-transition: all cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
  transition: all cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
}

@media all and (max-width: 768px) and (orientation: portrait) {
  html,
  body {
    font-size: 1em;
  }
  .main-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "button" "download" "ping";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 2fr;
        grid-template-rows: 1fr 2fr 2fr;
    margin: 0;
    padding: 0;
  }
  .test-container {
    height: calc(var(--gauge-height) / var(--mobile-scale));
    width: calc(var(--gauge-width) / var(--mobile-scale));
  }
  .test-container .test-kind {
    font-size: 2em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: kind;
    z-index: 9;
  }
  .test-container .info .amount {
    font-size: 4em;
  }
  .test-info-container {
    width: calc(var(--gauge-width) / var(--mobile-scale));
  }
  .test-info-container .info {
    margin: 0.5em;
  }
  .test-info-container .info .test-kind {
    font-size: 1em;
  }
}

@media all and (orientation: landscape) and (max-height: 768px) {
  html,
  body {
    font-size: 0.9em;
  }
  .main-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
        grid-template-areas: "download ping" "download button";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 0em;
            column-gap: 0em;
    margin: 0;
  }
}

@media all and (max-width: 900px) and (orientation: landscape) {
  html,
  body {
    font-size: 0.9em;
  }
  .test-container {
    height: calc(var(--gauge-height) / var(--mobile-scale));
    width: calc(var(--gauge-width) / var(--mobile-scale));
    margin: auto;
  }
  .test-container .test-kind {
    font-size: 2em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: kind;
    z-index: 9;
  }
  .test-container .info .amount {
    font-size: 4em;
  }
  .test-info-container {
    margin: auto;
    width: calc(var(--gauge-width) / var(--mobile-scale));
  }
  .test-info-container .info {
    margin: 0.5em;
  }
  .test-info-container .info .test-kind {
    font-size: 1em;
  }
}
/*# sourceMappingURL=style.css.map */