:root {
    --background-color-primary: rgba(51, 51, 51, 1);
    --background-color-primary-dark: rgb(37, 37, 37);
    --background-color-secondary: rgb(51, 51, 51);
    --font-color-primary: #fff;

    --color-primary: #fff;
    --color-secondary: #34c83c;
    --color-secondary-dark: #2ead34;
    --font-family-primary: verdana, geneva, sans-serif;

    --dl-color-1: #8343ab;
    --dl-color-2: #f71e6a;

    --ul-color-1: #ff8000;
    --ul-color-2: #ff0000;

    --meter-width: 30em;
    --meter-height: 30em;
    --meter-padding: 10em;
    --meter-outer-radius: 15em;

    --ncsu-font: UniversCondensed;
    --ncsu-red: #c00;
    --ncsu-red-dark: rgb(173, 0, 0);
    --border-radius-primary: 0.5em;
    --mobile-scale: 1.2;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--background-color-primary);
}

.ul-icon {
    i {
        transform: rotate(180deg);
    }

    .amount,
    .unit {
        color: white;
    }

    color: var(--ul-color-1);
}

.dl-icon {
    color: var(--dl-color-2);

    .amount,
    .unit {
        color: white;
    }
}

.tmp {
    opacity: 0;
    position: absolute;

    .text {
        font-size: 1.5em;
        text-transform: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i {
        font-size: 15em;
        color: var(--color-secondary);
    }
}

.outer-content {
    background: var(--background-color-primary);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-content {
    align-items: center;

    background: var(--background-color-primary);

    color: var(--font-color-primary);

    display: grid;
    font-family: var(--font-family-primary);
    font-weight: 300;

    grid-template-areas:
        "info"
        "test"
        "button";

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100%;
    width: 100%;
    padding: 0;
    position: relative;
    text-align: center;
    margin: 1em;
    row-gap: 1em;
    align-items: center;
    justify-content: center;

    .start-btn-container {
        width: var(--meter-width);
        grid-area: button;
        display: flex;
        justify-content: center;
    }

    .test-container {
        grid-area: test;
    }

    .test-info-container {
        grid-area: info;
    }
}

.start-btn {
    align-items: center;
    background-color: rgb(46, 206, 46);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    font-size: 1.5em;
    font-weight: normal;
    height: 2.5em;
    justify-content: center;

    width: 10em;
    position: relative;

    &.running {
        background-color: var(--dl-color-2);
    }
}

.test-info-container {
    border-radius: var(--border-radius-primary);

    box-shadow: 0px 30px 40px 10px rgba(0, 0, 0, 0.2);

    width: var(--meter-width);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 1em;

    .info {
        .test-kind {
            font-size: 1em;
            text-align: center;
        }

        .amount {
            font-size: 3em;
        }
    }
}

.test-container {
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius-primary);

    display: grid;
    font-weight: normal;

    grid-template-areas:
        "kind"
        "info";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    width: var(--meter-width);
    height: var(--meter-height);

    position: relative;

    row-gap: 2em;
    text-transform: uppercase;
    overflow: visible;

    .test-kind {
        font-size: 2em;
        grid-area: kind;
        z-index: 9;
    }

    .info {
        position: absolute;
        margin: auto;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 1em;
        z-index: 9;

        grid-area: info;
        .amount {
            font-size: 3.5em;
        }

        .unit {
            text-transform: capitalize;
        }
    }

    canvas {
        height: 100%;
        width: 100%;
        position: absolute;

        z-index: 1;
    }
}

.meter-numbers {
    font-family: var(--font-family-primary);
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 1;

    display: flex;

    div {
        transition: all cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
        position: absolute;
    }
}

@media all and (max-width: 900px) and (orientation: portrait) {
    html,
    body {
        font-size: 1em;
    }

    .main-content {
        grid-template-areas:
            "button"
            "test"
            "info";

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr;
    }

    .test-container {
        height: calc(var(--meter-height) / var(--mobile-scale));
        width: calc(var(--meter-width) / var(--mobile-scale));
    }

    .test-info-container {
        width: calc(var(--meter-width) / var(--mobile-scale));
    }

    .tmp {
        .text {
            font-size: 1.5em;
        }
        i {
            font-size: 12em;
        }
    }
}

@media all and (max-width: 400px) and (orientation: portrait) {
    html,
    body {
        font-size: 0.8em;
    }
}

@media all and (orientation: landscape) and (max-height: 768px) {
    html,
    body {
        font-size: 0.9em;
    }
    .main-content {
        align-items: center;
        justify-items: center;

        grid-template-areas:
            "test info"
            "test button";

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 0em;
        row-gap: 0;
        margin: 0;
    }
}

@media all and (max-width: 900px) and (orientation: landscape) {
    html,
    body {
        font-size: 0.9em;
    }

    .test-container {
        height: calc(var(--meter-height) / var(--mobile-scale));
        width: calc(var(--meter-width) / var(--mobile-scale));
        margin: auto;

        .test-kind {
            font-size: 2em;
            grid-area: kind;
            z-index: 9;
        }

        .info {
            .amount {
                font-size: 4em;
            }
        }
    }
    .test-info-container {
        margin: auto;
        width: calc(var(--meter-width) / var(--mobile-scale));

        .info {
            margin: 0.5em;

            .test-kind {
                font-size: 1em;
            }
        }
    }
}

.circle-container {
    position: relative;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    border: 5px solid var(--color-secondary);
    border-radius: 100px;
}

.arrow-down {
    font-size: 4em;
    color: var(--color-secondary);

    transform: rotate(45deg);

    animation: arrow 4s linear infinite 0;
}
.pulse {
    margin: 0 auto;
    border-radius: inherit;
    position: absolute;

    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    opacity: 0;
    height: inherit;
    width: inherit;

    border: 5px solid var(--color-secondary);

    animation: pulse 10s linear infinite 0.3s;
}
@keyframes arrow {
    0% {
        transform: translateY(0);
    }

    5% {
        transform: translateY(50%);
    }

    10% {
        transform: translateY(0%);
    }

    10% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(50%);
    }

    20% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    25% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}

.filter-contrast {
    filter: contrast(5);
}

@mixin dot(
    $width: $dotWidth,
    $height: $dotHeight,
    $radius: $dotRadius,
    $bgColor: $dotBgColor,
    $color: $dotColor
) {
    width: $width;
    height: $height;
    border-radius: $radius;
    background-color: $bgColor;
    color: $color;
}

$dot-color: white;

.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.dot-overtaking {
    position: relative;

    width: 12px;
    height: 12px;
    border-radius: 6px;

    color: $dot-color;

    z-index: 10;

    margin: -1px 0;
    box-shadow: 0 -20px 0 0;
    filter: blur(2px);
    animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);

    &::before,
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;

        width: 12px;
        height: 12px;
        border-radius: 6px;

        color: $dot-color;

        box-shadow: 0 -20px 0 0;
        filter: blur(2px);
    }

    &::before {
        animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
        animation-delay: 0.3s;
    }

    &::after {
        animation: dotOvertaking 1.5s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
        animation-delay: 0.6s;
    }
}

@keyframes dotOvertaking {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.test-iframe {
    border: none;
    display: block;
    width: 100%;
    height: 35rem;
    margin: 0;
    overflow: hidden;
}
