:root {
  --background-color-primary: rgba(51, 51, 51, 1);
  --background-color-primary-dark: rgb(37, 37, 37);
  --background-color-secondary: rgb(51, 51, 51);
  --font-color-primary: #fff;
  --color-primary: #fff;
  --color-secondary: #34c83c;
  --color-secondary-dark: #2ead34;
  --font-family-primary: verdana, geneva, sans-serif;
  --dl-color-1: #8343ab;
  --dl-color-2: #f71e6a;
  --ul-color-1: #ff8000;
  --ul-color-2: #ff0000;
  --meter-width: 37.5em;
  --meter-height: 30em;
  --meter-padding: 10em;
  --meter-outer-radius: 22em;
  --ncsu-font: UniversCondensed;
  --ncsu-red: #c00;
  --ncsu-red-dark: rgb(173, 0, 0);
  --border-radius-primary: 0.5em;
  --mobile-scale: 1.5;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--background-color-primary);
}

.ul-icon {
  color: var(--ul-color-1);
}

.ul-icon i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ul-icon .amount,
.ul-icon .unit {
  color: white;
}

.dl-icon {
  color: var(--dl-color-2);
}

.dl-icon .amount,
.dl-icon .unit {
  color: white;
}

.tmp {
  opacity: 0;
  position: absolute;
}

.tmp .text {
  font-size: 1.5em;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tmp i {
  font-size: 15em;
  color: var(--color-secondary);
}

.outer-content {
  background: var(--background-color-primary);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--background-color-primary);
  color: var(--font-color-primary);
  display: -ms-grid;
  display: grid;
  font-family: var(--font-family-primary);
  font-weight: 300;
      grid-template-areas: "info" "test" "button";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;
  text-align: center;
  row-gap: 1em;
}

.main-content .start-btn-container {
  width: var(--meter-width);
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: button;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .test-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: test;
}

.main-content .test-info-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
}

.start-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2ece2e;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  font-weight: normal;
  height: 2.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10em;
  position: relative;
}

.start-btn.running {
  background-color: var(--dl-color-2);
}

.test-info-container {
  border-radius: var(--border-radius-primary);
  -webkit-box-shadow: 0px 30px 40px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 30px 40px 10px rgba(0, 0, 0, 0.2);
  width: var(--meter-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-info-container .info {
  margin: 1.2em;
}

.test-info-container .info .test-kind {
  font-size: 1.5em;
  text-align: center;
}

.test-info-container .info .amount {
  display: inline-block;
  font-size: 2.5em;
}

.test-info-container .info .amount #ip {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.test-info-container .info .unit {
  margin: 0;
  padding: 0;
}

.test-container {
  -webkit-box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius-primary);
  display: -ms-grid;
  display: grid;
  font-weight: normal;
      grid-template-areas: "kind" "info";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: var(--meter-width);
  height: var(--meter-height);
  position: relative;
  row-gap: 2em;
  text-transform: uppercase;
  overflow: visible;
}

.test-container .test-kind {
  font-size: 3em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: kind;
  z-index: 9;
}

.test-container .info {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
}

.test-container .info .amount {
  font-size: 3em;
  grid-area: a;
  z-index: 9;
}

.test-container .info .unit {
  grid-area: u;
  text-transform: capitalize;
  z-index: 9;
}

.test-container canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.meter-numbers {
  font-family: var(--font-family-primary);
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meter-numbers div {
  -webkit-transition: all cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
  transition: all cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
  position: absolute;
}

@media all and (max-width: 768px) and (orientation: portrait) {
  html,
  body {
    font-size: 1em;
  }
  .main-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "button" "test" "info";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 2fr;
        grid-template-rows: 1fr 2fr 2fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .test-container {
    height: calc(var(--meter-height) / var(--mobile-scale));
    width: calc(var(--meter-width) / var(--mobile-scale));
  }
  .test-container .test-kind {
    font-size: 1.5em;
    z-index: 9;
  }
  .test-container .info {
    margin: 0.5em;
  }
  .test-container .info .amount {
    font-size: 2em;
  }
  .test-info-container {
    width: calc(var(--meter-width) / var(--mobile-scale));
  }
  .test-info-container .info .test-kind {
    font-size: 1em;
  }
  .test-info-container .info .amount {
    font-size: 3em;
  }
  .tmp .text {
    font-size: 1.5em;
  }
  .tmp i {
    font-size: 12em;
  }
}

@media all and (orientation: landscape) and (max-height: 768px) {
  html,
  body {
    font-size: 0.9em;
  }
  .main-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
        grid-template-areas: "test info" "test button";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 0em;
            column-gap: 0em;
    row-gap: 0;
    margin: 0;
  }
  .main-content .start-btn-container {
    width: 100%;
    height: 100%;
  }
  .main-content .test-container {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-content .test-info-container {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    height: 100%;
    margin: 0;
    bottom: 0;
  }
}

@media all and (max-width: 900px) and (orientation: landscape) {
  html,
  body {
    font-size: 1em;
  }
  .test-container {
    height: calc(var(--meter-height) / var(--mobile-scale));
    width: calc(var(--meter-width) / var(--mobile-scale));
    margin: auto;
  }
  .test-container .test-kind {
    font-size: 2em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: kind;
    z-index: 9;
  }
  .test-container .info .amount {
    font-size: 4em;
  }
  .test-info-container {
    margin: auto;
    width: calc(var(--meter-width) / var(--mobile-scale));
  }
  .test-info-container .info {
    margin: 0.5em;
  }
  .test-info-container .info .test-kind {
    font-size: 1em;
  }
}

.circle-container {
  position: relative;
  height: 120px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 5px solid var(--color-secondary);
  border-radius: 100px;
}

.arrow-down {
  font-size: 4em;
  color: var(--color-secondary);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: arrow 4s linear infinite 0;
          animation: arrow 4s linear infinite 0;
}

.pulse {
  margin: 0 auto;
  border-radius: inherit;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  height: inherit;
  width: inherit;
  border: 5px solid var(--color-secondary);
  -webkit-animation: pulse 10s linear infinite 0.3s;
          animation: pulse 10s linear infinite 0.3s;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  10% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  20% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  10% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  20% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.filter-contrast {
  -webkit-filter: contrast(5);
          filter: contrast(5);
}

.dot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: auto;
}

.dot-overtaking {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  color: white;
  z-index: 10;
  margin: -1px 0;
  -webkit-box-shadow: 0 -20px 0 0;
          box-shadow: 0 -20px 0 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
          animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
}

.dot-overtaking::before, .dot-overtaking::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  color: white;
  -webkit-box-shadow: 0 -20px 0 0;
          box-shadow: 0 -20px 0 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.dot-overtaking::before {
  -webkit-animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
          animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.dot-overtaking::after {
  -webkit-animation: dotOvertaking 1.5s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
          animation: dotOvertaking 1.5s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes dotOvertaking {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes dotOvertaking {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.test-iframe {
  border: none;
  display: block;
  width: 100%;
  height: 35rem;
  margin: 0;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */