$meter-width: 30em;
$meter-height: 30em;
$meter-padding: 10em;
$meter-outer-radius: 30em;

$screen-size-xs: 320px;
$screen-size-sm: 480px;
$screen-size-md: 768px;
$screen-size-lg: 992px;
$screen-size-xl: 1200px;

$screen-xs-scale: 1.5;
$screen-sm-scale: 1.4;
$screen-md-scale: 1.2;
$screen-lg-scale: 1.1;

:root {
    --background-color-primary: rgba(51, 51, 51, 1);
    --background-color-primary-dark: rgb(37, 37, 37);
    --background-color-secondary: rgb(51, 51, 51);
    --font-color-primary: #fff;

    --color-primary: #fff;
    --color-secondary: #34c83c;
    --color-secondary-dark: #2ead34;
    --font-family-primary: verdana, geneva, sans-serif;

    --dl-color-1: #8343ab;
    --dl-color-2: #f71e6a;

    --ul-color-1: #ff8000;
    --ul-color-2: #ff0000;

    --meter-width: #{$meter-width};
    --meter-height: #{$meter-height};
    --meter-padding: #{$meter-padding};
    --meter-outer-radius: #{$meter-outer-radius};

    --ncsu-font: "UniversCondensed";
    --ncsu-red: #c00;
    --ncsu-red-dark: rgb(173, 0, 0);
    --border-radius-primary: 0.5em;
    --mobile-scale: #{$screen-sm-scale};
}

html,
body {
    background: var(--background-color-primary);
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.ul-icon {
    color: var(--ul-color-1);
    i {
        transform: rotate(180deg);
    }

    .amount,
    .unit {
        color: white;
    }
}

.dl-icon {
    color: var(--dl-color-2);

    .amount,
    .unit {
        color: white;
    }
}

.tmp {
    opacity: 0;
    position: absolute;

    .text {
        align-items: center;
        display: flex;
        font-size: 1.5em;
        justify-content: center;
        text-transform: none;
    }
    i {
        color: var(--color-secondary);
        font-size: 15em;
    }
}

.outer-content {
    background: var(--background-color-primary);
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-content {
    background: var(--background-color-primary);

    color: var(--font-color-primary);
    display: grid;
    font-family: var(--font-family-primary);

    grid-template-areas:
        "button"
        "test"
        "info";

    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2fr 1fr;

    justify-content: center;
    align-items: center;
    justify-items: center;

    padding: 2em;
    max-width: 100%;

    row-gap: 1em;

    margin: auto;

    height: 100%;

    .start-btn-container {
        grid-area: button;
    }

    .test-container {
        grid-area: test;
    }

    .test-info-container {
        grid-area: info;
    }
}

.start-btn {
    align-items: center;
    background-color: rgb(46, 206, 46);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    font-size: 1.5em;
    font-weight: normal;
    height: 2.5em;
    justify-content: center;
    position: relative;

    width: 10em;

    &.running {
        background-color: var(--dl-color-2);
    }
}

.test-container {
    border-radius: var(--border-radius-primary);
    display: grid;

    grid-template-areas:
        "test"
        "info";

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    position: relative;
    justify-content: center;
    justify-items: center;

    width: 100%;

    .info {
        grid-area: info;
        border: 2px solid white;

        align-self: end;
        display: grid;
        grid-template-areas:
            "amount"
            "kind";
        grid-template-rows: 1fr 0.2fr;
        grid-template-columns: 1fr;
        row-gap: 0;

        justify-items: center;
        align-items: center;

        .test-kind {
            grid-area: kind;
            text-align: center;
            align-self: end;
        }

        .amount-container {
            align-self: end;
            grid-area: amount;
        }
    }

    canvas {
        border: 2px solid white;
        grid-area: test;
        height: 100%;
        width: 100%;

        max-width: var(--meter-width);
        max-height: var(--meter-height);

        z-index: 1;
    }
}

.test-info-container {
    border-radius: var(--border-radius-primary);

    display: flex;
    justify-content: space-around;
    padding: 1em;
    width: 100%;

    .info {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .test-kind {
            font-size: 1em;
            text-align: center;
        }
    }
}

.unit-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "amount unit";

    column-gap: 0;

    position: relative;
    padding: 0;
    margin: 0;

    --font-size: 5em;

    .amount {
        padding: 0;
        margin: 0;

        grid-area: amount;
        font-size: var(--font-size);
        // line-height: calc(-1 * var(--font-size));
    }

    .unit {
        position: absolute;
        font-size: calc(var(--font-size) / 4);
        padding: 0;
        margin: 0;
        grid-area: unit;
    }
}

.meter-numbers {
    display: flex;
    font-family: var(--font-family-primary);
    font-size: 1em;
    font-weight: bold;
    height: 100%;
    position: absolute;
    width: 100%;

    z-index: 1;

    div {
        position: absolute;
        transition: all cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
    }
}

.box-shadow {
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.2);
}

@media all and (orientation: portrait) and (max-width: $screen-size-sm) {
    // :root {
    //     --meter-width: #{$meter-width / $screen-sm-scale};
    //     --meter-height: #{$meter-height / $screen-sm-scale};
    // }

    // html,
    // body {
    //     font-size: 0.9em;
    // }

    .unit-container {
        // --font-size: 3.5em;
    }
}

@media all and (orientation: portrait) and (max-width: $screen-size-xs) {
    // :root {
    //     --meter-width: #{$meter-width / $screen-xs-scale};
    //     --meter-height: #{$meter-height / $screen-xs-scale};
    // }

    // html,
    // body {
    //     font-size: 0.9em;
    // }
}

// @media all and (orientation: landscape) and (max-width: $screen-size-xl) {
//     :root {
//         --meter-width: #{$meter-width / $screen-lg-scale};
//         --meter-height: #{$meter-height / $screen-lg-scale};
//     }

//     .main-content {
//         grid-template-areas:
//             "test info"
//             "test button";

//         grid-template-columns: 1fr 1fr;
//         grid-template-rows: 1fr 1fr;
//         justify-content: center;
//         align-items: center;
//         column-gap: 1em;
//         row-gap: 2em;
//         padding: 1em;

//         .start-btn-container {
//             align-self: start;
//         }

//         .test-container {
//             align-self: center;
//         }

//         .test-info-container {
//             align-self: end;
//         }
//     }
// }

// @media all and (orientation: landscape) and (max-width: $screen-size-lg) {
//     html,
//     body {
//         font-size: 0.8em;
//     }
// }

// @media all and (orientation: landscape) and (max-width: $screen-size-md) {
//     :root {
//         --meter-width: #{$meter-width / $screen-md-scale};
//         --meter-height: #{$meter-height / $screen-md-scale};
//     }
// }
