@use "sass:math";
:root {
  --background-color-primary: rgba(51, 51, 51, 1);
  --background-color-primary-dark: rgb(37, 37, 37);
  --background-color-secondary: rgb(51, 51, 51);
  --font-color-primary: #fff;
  --color-primary: #fff;
  --color-secondary: #34c83c;
  --color-secondary-dark: #2ead34;
  --font-family-primary: verdana, geneva, sans-serif;
  --dl-color-1: #8630e6;
  --dl-color-2: #f71e6a;
  --ul-color-1: #ff8000;
  --ul-color-2: #ff0000;
  --meter-background-color: rgba(0, 0, 0, 0.25);
  --meter-width: 32rem;
  --meter-height: 64rem;
  --meter-padding: 10em;
  --meter-outer-radius: 30em;
  --ncsu-font: "UniversCondensed";
  --ncsu-red: #c00;
  --ncsu-red-dark: rgb(173, 0, 0);
  --border-radius-primary: 0.5em;
}

html,
body {
  background: var(--background-color-primary);
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-content {
  background: var(--background-color-primary);
  color: var(--font-color-primary);
  position: relative;
  display: -ms-grid;
  display: grid;
  font-family: var(--font-family-primary);
      grid-template-areas: "test" "info" "button";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 1em;
  max-width: 32rem;
  max-height: 100vh;
  padding: 1em;
  width: 100%;
}

.main-content .start-btn-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: button;
}

.main-content .test-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: test;
}

.main-content .test-info-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
}

.pane-container {
  height: 100%;
  width: 100%;
  padding: 1em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: test;
  border-radius: var(--border-radius-primary);
}

.pane-info {
  font-size: 1.5em;
  text-align: center;
}

.pane-info h1,
.pane-info h2 {
  color: var(--ul-color-1);
}

.pane-info .icon-lg {
  font-size: 10em;
}

.pane-hidden {
  visibility: hidden;
  pointer-events: none;
}

.test-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.test-container .info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "amount" "kind";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 0.5em;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: calc(-25% + 1em);
  --font-size: 4em;
  --size: calc(var(--font-size) / 4);
}

.test-container .info .test-kind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: var(--size);
  height: var(--size);
  text-align: center;
  font-size: var(--font-size);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: kind;
}

.test-container .info .amount-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: amount;
}

.test-container .square-box {
  z-index: 1;
}

.test-container .square-box canvas {
  padding: 1em;
}

.square-box {
  height: 0%;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.square-box * {
  height: 100%;
  width: 100%;
  position: absolute;
}

.test-info-container {
  padding: 1em;
}

.test-info-container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.test-info-container .info .test-kind {
  font-size: 1.5em;
}

.unit-container {
  --font-size-lg: 3.5em;
  --font-size-sm: calc(var(--font-size-lg) / 4);
  --height: calc(var(--font-size-lg) + var(--font-size-sm));
  display: -ms-grid;
  display: grid;
      grid-template-areas: "amount" "unit";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 90% 10%;
      grid-template-rows: 90% 10%;
  row-gap: 0.2em;
  text-align: center;
  -webkit-transition: color cubic-bezier(0.09, 0.91, 0.5, 1.1) 1000ms;
  transition: color cubic-bezier(0.09, 0.91, 0.5, 1.1) 1000ms;
}

.unit-container.in-progress {
  color: rgba(255, 255, 255, 0.25);
}

.unit-container .amount {
  font-size: var(--font-size-lg);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: amount;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.unit-container .unit {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: var(--font-size-sm);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: unit;
  margin-top: calc(-1 * var(--font-size-sm));
}

.test-kind {
  -webkit-transition: color cubic-bezier(0.09, 0.91, 0.5, 1.1) 1000ms;
  transition: color cubic-bezier(0.09, 0.91, 0.5, 1.1) 1000ms;
}

.test-kind.rotate i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.test-kind.ul i {
  color: var(--ul-color-1);
}

.test-kind.ul i.white {
  color: white;
}

.test-kind.dl i {
  color: var(--dl-color-2);
}

.test-kind.dl i.white {
  color: white;
}

.progress-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 1em;
  padding: 1em;
  position: relative;
}

.progress-bar-container .progress-bar {
  border-radius: 0;
  height: 1em;
  width: 0;
}

@media all and (max-width: 768px) {
  html,
  body {
    font-size: 0.85rem;
  }
}

@media all and (max-width: 480px) {
  html,
  body {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 320px) {
  html,
  body {
    font-size: 0.75rem;
  }
}

@media all and (orientation: landscape) and (max-height: 992px) {
  .main-content {
    -webkit-column-gap: 1em;
            column-gap: 1em;
        grid-template-areas: "test info" "test button";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    max-width: 64rem;
  }
  .main-content .start-btn-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content .test-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content .test-info-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .test-container .info {
        grid-template-areas: "amount kind";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .test-info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .test-info-container .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media all and (orientation: landscape) and (max-height: 768px) {
  html,
  body {
    font-size: 0.85em;
  }
}

@media all and (orientation: landscape) and (max-height: 480px) {
  html,
  body {
    font-size: 0.8em;
  }
}

@media all and (orientation: landscape) and (max-height: 320px) {
  html,
  body {
    font-size: 0.75em;
  }
}
