@use "sass:math";
@import "utils.scss";

$meter-width: 32rem;
$meter-height: 64rem;
$meter-padding: 10rem;
$meter-outer-radius: 30rem;
$max-height-multiplier: 2;

$screen-size-ss: 256px;
$screen-size-xs: 320px;
$screen-size-sm: 480px;
$screen-size-md: 768px;
$screen-size-lg: 992px;
$screen-size-xl: 1200px;

$row-gap: 1rem;

$PI: 3.14159265358929;
$ALPHA_0: $PI * 0.8;

:root {
    --background-color-primary: rgba(51, 51, 51, 1);
    --background-color-primary-dark: rgb(37, 37, 37);
    --background-color-secondary: rgb(61, 61, 61, 1);
    --font-color-primary: #fff;

    --color-primary: #fff;
    --color-secondary: #34c83c;
    --color-secondary-dark: #2ead34;
    --font-family-primary: "Helvetica", sans-serif;

    --dl-color-0: #6728d3;
    --dl-color-1: #d359ff;
    --dl-color-2: #f71e6a;

    --ul-color-0: #ff8800;
    --ul-color-1: #f77300;
    --ul-color-2: #ff0000;

    --meter-background-color: rgb(0, 0, 0, 0.25);

    --progress-bar-gradient: linear-gradient(
        to right,
        var(--dl-color-0),
        var(--ul-color-0)
    );

    --meter-width: #{$meter-width};
    --meter-height: #{$meter-height};
    --meter-padding: #{$meter-padding};
    --meter-outer-radius: #{$meter-outer-radius};

    --ncsu-font: "UniversCondensed";
    --ncsu-red: #c00;
    --ncsu-red-dark: rgb(173, 0, 0);
    --border-radius-primary: 0.75rem;

    --box-shadow-main: 5px 0px 20px 0px rgba(0, 0, 0, 0.25);
    --column-gap: 0.5rem;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    align-items: center;
    background: var(--background-color-primary);
    color: var(--font-color-primary);
    font-family: var(--font-family-primary);
    justify-content: center;

    min-height: 100%;
    min-width: 100%;
}

@mixin cell-styling($gap) {
    background-color: var(--background-color-primary);
    border-radius: var(--border-radius-primary);
}

main {
    display: grid;
    padding: $row-gap/2;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    grid-template-areas:
        "test"
        "info"
        "button";

    grid-template-rows: repeat(1fr, 3);
    max-height: calc(min(#{$meter-height}, 100%));
    max-width: calc(min(#{$meter-width}, 100%));

    row-gap: calc(4 * var(--column-gap));

    .speedtest-container {
        align-self: end;
        grid-area: test;
    }

    .info-progress-container {
        grid-area: info;
    }

    .start-btn-container {
        height: 3rem;
        width: 75%;

        grid-area: button;
        justify-self: center;
    }
}

.pane-container {
    grid-area: test;
}

.pane-info {
    --padding: 1rem;
    padding: var(--padding);
    height: 100%;
    width: 100%;
    box-shadow: var(--box-shadow-main);
    box-sizing: border-box;

    h1,
    h2 {
        text-align: left;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    hr {
        --main-color: white;
        height: 0.1rem;
        width: calc(100% + var(--padding));
        background-color: var(--main-color);
        border: none;
        border-radius: 1rem;
        margin-right: calc(-1 * var(--padding));
    }
}

.speedtest-container {
    $y: (1 - sin($ALPHA_0))/2 - 0.025;
    display: grid;
    position: relative;
    grid-template-rows: auto auto;
    row-gap: var(--column-gap);
    grid-template-areas:
        "speedtest"
        "info";

    .info {
        grid-area: info;
        --font-size: 3.5rem;
        display: grid;
        column-gap: var(--column-gap);
        grid-template-columns: 2fr 1fr;

        .unit-info-container {
            padding: var(--column-gap);
            background-color: var(--background-color-primary-dark);
            border-radius: var(--border-radius-primary);
            box-sizing: border-box;

            .header {
                font-size: 1rem;
            }
            .unit-container {
                --font-size-lg: var(--font-size);
                align-items: baseline;

                flex-direction: row;

                font-weight: bold;
            }

            .footer {
                color: rgba(255, 255, 255, 0.25);
            }
        }

        .kind {
            display: flex;
            align-items: center;
            background-color: var(--background-color-primary-dark);
            border-radius: var(--border-radius-primary);
            font-size: var(--font-size);
            justify-content: center;
        }
    }

    .speedtest {
        grid-area: speedtest;
        background: var(--background-color-secondary);
        border-radius: var(--border-radius-primary);
        
        z-index: 1;

        canvas {
            
          
            padding: 0.5rem;
            box-sizing: border-box;
        }
    }
}

.info-progress-container {
    .info-container {
        display: flex;
        flex-direction: row;

        .info {
            display: flex;

            flex: 1;
            flex-direction: column;
            @include space-between-row(0.5rem);

            .kind {
                padding: 0.25rem 0;
                font-weight: bold;
            }

            .unit-container {
                padding: 0.5rem;

                height: 100%;
                width: 100%;

                background: var(--background-color-secondary);
                border-radius: var(--border-radius-primary);

                text-align: left;
            }
        }
    }
    .progress-bar-container {
        margin: 0.5rem 0;
    }
}

.progress-bar-container {
    display: flex;
    position: relative;
    height: 1rem;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;

    .progress-bar {
        height: 1rem;
        width: 0;
        border-radius: 0;
    }
}

.unit-container {
    --font-size-lg: 2.5rem;
    --font-size-sm: calc(var(--font-size-lg) / 4);
    --height: calc(var(--font-size-lg) + var(--font-size-sm));

    display: flex;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    min-height: var(--height);
    text-align: center;

    transition: color cubic-bezier(0.09, 0.91, 0.5, 1.1) 1000ms;

    &.in-progress {
        color: rgba(255, 255, 255, 0.25);
    }

    .amount {
        height: var(--font-size-lg);
        font-size: var(--font-size-lg);
    }

    .unit {
        font-size: var(--font-size-sm);
    }
}

@media all and (orientation: landscape) and (max-height: $screen-size-lg) {
    main {
        column-gap: $row-gap;
        grid-template-areas:
            "test test"
            "info button";

        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-items: center;
        // max-height: calc(min(#{$meter-width}, 100%));
        // max-width: calc(min(#{$meter-height}, 100%));

        .speedtest-container {
            align-self: start;
        }

        .start-btn-container {
            width: 100%;
        }
    }

    .speedtest-container {
        grid-template-areas: "speedtest info";
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr;
        column-gap: var(--column-gap);

        .info {
            grid-area: info;
            grid-template-rows: 3fr 1fr;
            grid-template-columns: auto;
            row-gap: var(--column-gap);
            .unit-info-container {
                display: flex;
                justify-content: center;
                align-items: baseline;
                flex-direction: column;
            }
        }

        .speedtest {
            grid-area: speedtest;
        }
    }
}
