@function ipow($n, $exp) {
    $value: 1;
    @if $exp > 0 {
        @for $i from 1 through $exp {
            $value: $value * $n;
        }
    } @else if $exp < 0 {
        @for $i from 1 through -$exp {
            $value: $value / $n;
        }
    }
    @return $value;
}

@function factorial($n) {
    $value: 1;
    @if $n > 0 {
        @for $i from 1 through $n {
            $value: $value * $i;
        }
    }
    @return $value;
}

@function rad($theta) {
    $unit: unit($theta);
    $unitless: $theta / ($theta * 0 + 1);
    @if $unit == deg {
        $unitless: $unitless / 180 * $PI;
    }
    @return $unitless;
}

@function sin($theta) {
    $sin: 0;
    $theta: rad($theta);
    @for $i from 0 through 10 {
        $sin: $sin +
            ipow(-1, $i) *
            ipow($theta, (2 * $i + 1)) /
            factorial(2 * $i + 1);
    }
    @return $sin;
}

@function cos($theta) {
    @return sin($PI/2 - $theta);
}

@mixin attr-x(
    $attr,
    $attr-count: 10,
    $attr-steps: 10,
    $unit: "%",
    $attr-abrv: null
) {
    $attr-list: null;

    @if not $attr-abrv {
        $attr-abrv: $attr;
    }

    @for $i from 1 through $attr-count {
        $attr-value: $attr-steps * $i;

        .#{$attr-abrv}-#{$attr-value} {
            #{$attr}: #{$attr-value}#{$unit};
        }

        $attr-list: append(
            $attr-list,
            unquote(".#{$attr}-#{$attr-value}"),
            comma
        );
    }

    #{$attr-list} {
        //append style to all classes
    }
}

@include attr-x("max-height", 4, 25, "vh", "mvh");
@include attr-x("max-width", 4, 25, "vw", "mvw");

.box-shadow {
    border-radius: var(--border-radius-primary);
    box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-items-center {
    justify-items: center;
}

.square-box {
    height: 0%;
    padding-bottom: 100%;
    position: relative;
    width: 100%;

    * {
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

.start-btn {
    border: none;
    align-items: center;
    background-color: var(--color-secondary);

    // background-image: linear-gradient(
    //     to right,
    //     var(--ul-color-1),
    //     var(--dl-color-1)
    // );
    border-radius: var(--border-radius-primary);
    color: black;
    cursor: pointer;
    display: flex;
    font-size: 2em;
    font-weight: normal;
    justify-content: center;
    position: relative;

    &.running {
        background-color: var(--dl-color-2);
    }

    &:hover {
    }
}

.btn-prime {
    position: relative;
    overflow: hidden;
    --border-size: 0.2rem;

    --box-shadow-hl: 2px;
    --box-shadow-vl: 0px;
    --box-shadow-br: 10px;
    --box-shadow-sr: 0px;

    --box-shadow-color: rgba(0, 0, 0, 0.5);

    transition: all cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;

    box-shadow: var(--box-shadow-hl) var(--box-shadow-vl) var(--box-shadow-br)
        var(--box-shadow-sr) var(--box-shadow-color);

    &:hover {
        --box-shadow-vl: 7px;

        transform: translateY(-5px);

        box-shadow: var(--box-shadow-hl) var(--box-shadow-vl)
            var(--box-shadow-br) var(--box-shadow-sr) var(--box-shadow-color);
    }
}

.ripple {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.jelly {
    animation: jelly 1s cubic-bezier(0.09, 0.91, 0.5, 1.1);
}

@keyframes jelly {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    55% {
        transform: scale(2.05);
    }

    60% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}
